---
import Tailwind from "./icons/Tailwind.astro";
import Java from "./icons/Java.astro";
import JUnit5 from "./icons/JUnit5.astro";
import Spring from "./icons/Spring.astro";
import Docker from "./icons/Docker.astro";
import MySQL from "./icons/MySQL.astro";
import React from "./icons/React.astro";
import JavaScritp from "./icons/JavaScritp.astro";
import Angular from "./icons/Angular.astro";

// Definir las etiquetas con iconos y clases
const TAGSBACK = [
  {
    name: "Java",
    class: "bg-[#9a4a00] text-white",
    icon: Java,
  },{
    name: "MySQL",
    class: "bg-[#00171e] text-white",
    icon: MySQL,
  },{
    name: "Spring",
    class: "bg-[#3d7029] text-white",
    icon: Spring,
  },{
    name: "JUnit-Mockito",
    class: "bg-[#8f3430] text-white",
    icon: JUnit5,
  }, {
    name: "Docker",
    class: "bg-[#005e95] text-white",
    icon: Docker,
  },
  
];


const TAGFRONT = [
   {
    name: "TypeScript",
    class: "bg-[#1e4979] text-white",
    icon: JavaScritp,
  },{
    name: "Angular",
    class: "bg-[#a70e41] text-white",
    icon: Angular,
  },{
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },

];
---
<div class="flex flex-wrap mt-2">
  <ul class="flex flex-wrap gap-x-2 mb-2">
    {TAGSBACK.map((tag) => (
      <li>
        <span
          class={`flex gap-2 m-1 rounded-full text-s ${tag.class} py-1 px-2`}
        >
          <tag.icon class="size-5" />
          {tag.name}
        </span>
      </li>
    ))}
  </ul>
</div>

<div class="flex flex-wrap mt-2">
  <ul class="flex flex-wrap gap-x-2 mb-2">
    {TAGFRONT.map((tag) => (
      <li>
        <span
          class={`flex gap-x-2 m-1 rounded-full text-s ${tag.class} py-1 px-2`}
        >
          <tag.icon class="size-5" />
          {tag.name}
        </span>
      </li>
    ))}
  </ul>
</div>

