---

---

<div>
    
  <h2 class="mb-2 text-lg font-semibold text-gray-900 dark:text-white">Back End</h2>
  <ul class="max-w-md space-y-1 text-gray-500 list-disc list-inside dark:text-gray-400">
      <li>
         Spring Boot.
      </li>
      <li>
          Spring Security
      </li>
      <li>
          Hibernate/jpa
      </li>
      <li>
          MySQL
      </li>
       <li>
          Mockito/Junit
      </li>
  
  </ul>
</div>
